.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  color: $black87;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  transition: all $transition-duration linear;

  &:hover {
    background-color: $yellow-hover;
  }

  &:disabled {
    background-color: $grey-disabled;
    color: $white87;
  }
}
