.landscape {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pexels-alexandr-podvalny-1227513.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
  width: 1170px;
  color: $white;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 380px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__paragraph {
    margin-bottom: 32px;
  }
}
