.team {
  text-align: center;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    width: 1170px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
  }

  &__button {
    width: 120px;
    margin: 0 auto 120px;
  }
}