$yellow: #f4e041;
$blue: #00bdd3;
$light-gray: #f8f8f8;

$yellow-hover: #ffe302;
$grey-disabled: #b4b4b4;
$input-border-color: #d0cfcf;
$placeholder-color: #7e7e7e;

$white: #fff;
$black87: rgba(0, 0, 0, 0.87);
$white87: rgba(255, 255, 255, 0.87);

$transition-duration: 300ms;

$input-width: 380px;
$input-height: 54px;
$upload-button-width: 83px;
